<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>European Tribune - Community, Politics &amp; Progress</title>
        <link rel="stylesheet" type="text/css" href="style/global.style.css" />
<style>
.top-nav a {
	text-decoration: none;
	font-weight: bold;
	color: #0c1c8c;
	border-right: 1px solid black;	
	padding:0.5ex;
	text-align:center;
}
</style>
    </head>
    <body style="margin:0px;margin-top:0px">
	<div class="header" style="padding: 0px;margin:0px;width:100%; background-color:#d9ddde"><a href="/"><img src="images/eurotb-logo.png" alt="European Tribune logo, blue with the EU stars and European Tribune written across it." border=0></a>
		<div class="top-nav" style="position:absolute;top: 3px;left:178px;border:1px solid black;padding:0.5ex;right:2px">
			<%=link_to "Home"%><%=link_to "Recent comments"%><%=link_to "Recent comments"%><%=link_to "Recent comments"%><%=link_to "Recent comments"%></div>
		<div class="top-spiel" style="position:absolute;top:1em;left:178px;font-size:large;right:160px;padding:1em;padding-top:0em">
		<p>
		A welcome spiel goes here, with an explanation and links useful to new visitors.	A welcome spiel goes here, with an explanation and links useful to new visitors.	A welcome spiel goes here, with an explanation and links useful to new visitors.</p>
		<p>	A welcome spiel goes here, with an explanation and links useful to new visitors. Also the login/register boxes and links.</p>
		</div>
		</div>
	<div class="left-column" style="padding-top:5px;margin:0px;background-color:#d9ddde;width:175px;padding-bottom:5500px">
	<ul>
		<li>Hello</li>
		<li>Hello</li>
		
		<li>Hello</li>
		<li>Hello</li>
		<li>Hello</li>
	</ul>
	</div>
	<div class="body" style="padding:1em;position: absolute;left:180px;top: 170px;right:160px;z-index:2">
		<%=yield%>
	</div>
	<div class="right-column" style="position:absolute;top:170px;right:0px;background-color:#d9ddde;padding-bottom:5000px;width:160px">
	Recent Diaries
	</div>
	<div class=footer>
	
	</div>
    </body>
</html>